.hero-section {
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  font-size: 120%;
  padding-top: 2%;
  padding-bottom: 2%;
}

@media (min-width: 768px) {
  .hero-section {
    font-size: 150%;
  }

  .hero-section h2 {
    font-size: 130%;
  }
}

.get-started-livecd {
  color: black;
  background-color: #B0BEC5;
}

.get-started-handbook {
  color: black;
  background-color: #90A4AE;
  margin-top: -1px;
}

.get-started-go {
  color: white;
  background-color: #54487a;
  margin-top: -1px;
}

.emergehdr {
  margin-top: -21px;
  background-color: #54487a;
  background-image: url('/img/emerge.jpg');
  cursor: default;
  min-height: 0;
  box-shadow: 0px 0px 5px #333;
  padding-top: 1em;
  padding-bottom: 1em;
}

@media (min-width: 992px) {
  .emergehdr {
    font-size: 1.95em;
  }
}

.emergehdr p {
  text-shadow: 0px 0px 5px black;
  color: white;
  margin: 0;
}

.emergehdr .buttons {
  margin-top: 3px;
}

.sponsors a:link {
	border: none;
}

.sponsors img {
	margin-right: 3em;
}

/* for backwards compatibility */
.lead {
    font-size: 21px;
}
