<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="sponsors">
          <h3 class="footerhead">Mit freundlicher Unterstützung von:</h3>
          <a href="https://www.manitu.de"><img src="/img/manitu_logo.png" alt="manitu" /></a>
          <a href="https://www.syseleven.de/?utm_source=gentoofooter&amp;utm_medium=footer&amp;utm_content=url"><img src="/img/syseleven_logo.png" alt="syseleven" /></a>
          <a href="https://www.mpsna.de"><img src="/img/mpsnamon_logo.png" alt="mpsna" /></a>
          <br><br>
        </div>

        {% if page.footer %}{{ page.footer }}{% endif %}
      </div>
      <div class="col-md-4">
        <h3 class="footerhead">Fragen oder Kommentare?</h3>
        Sie können uns gerne <a href="/kontakt">kontaktieren</a>.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <strong>&copy; 2015 Förderverein Gentoo e.V.</strong> &middot; <a href="/kontakt">Impressum</a><br />
        <small>
          Gentoo® ist eine eingetragene Marke des <a href="https://www.gentoo-ev.org/">Förderverein Gentoo e.V.</a>
        </small>
      </div>
    </div>
  </div>
</footer>
