<head>
  <title>{% if page.title %}{{ page.title }} — {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ site.cdnurl }}/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="{{ site.cdnurl }}/tyrian.min.css" rel="stylesheet" media="screen">
  <link href="/css/gentoode.css" rel="stylesheet" media="screen">
  <link rel="icon" href="https://www.gentoo.org/favicon.ico" type="image/x-icon">
</head>